<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Hackathon Web</title>
    <link rel="stylesheet" href="/css/style.css">
    <link rel="stylesheet" href="/css/responsive.css">
</head>
<body class="h-full min-h-screen bg-background font-lato w-screen overflow-x-hidden">
    <nav class="flex items-center justify-between p-4 text-white w-screen">
        <a href="/" class="text-lg font-bold">Chytrý ekosystém</a>
        <ul class="flex space-x-4">
            <li><a href="/" class="hover:text-gray-400">Domů</a></li>
        </ul>
    </nav>
    <main class="flex flex-col items-center justify-between h-full text-white m-5">
        <section class="flex flex-col items-center">
            <h1 class="text-4xl font-bold mb-4">Chytrý ekosystém</h1>
            <p class="text-lg mb-8">Oživte svoji rostlinu pomocí technologie!</p>
        </section>
        <section class="grid grid-cols-3 gap-5 w-full">
            {% for plant in plants %}
            <a href="/pot?id={{ plant.id }}" class="flex flex-col items-center border-primary border-2 rounded-lg p-2 hover:p-3 duration-300 ">
                <section class="flex flex-row justify-center gap-5 w-full">
                    <h2 class="text-4xl font-bold mb-4">Rostlina {{ plant.id }} </h2>
                    <div class="bg-primary w-20 h-10 rounded-full mb-4 flex justify-center items-center font-extrabold text-black">{{ plant.time }}</div>
                </section>
                <p class="text-lg mb-8">Klikněte pro zobrazení informací o rostlině...</p>
            </a>
            {% endfor %}
        </section>
        <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
    </main>
</body>
</html>